# Eclipse Project #
.buildpath
.classpath
.project
/.settings

# IntelliJ Files #
.idea/
.idea_modules/
out/
*.ipr
*.iws
*.iml

# Binary files #
*.class
*.jar

# Class Folder #
/bin

# Others #
/libs
/src/com/Address.java
